.cards {
    width: 100%;
    margin: 0;
    padding: 39px 0 66px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 17px 20px;
    line-height: 0;
}

@media screen and (max-width: 320px) {
    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px 0;
        padding: 36px 0 48px;
    }
}