.profile {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: 0 30px;
}

@media screen and (max-width: 320px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}