.card__like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: opacity 0.5s linear;
    cursor: pointer;
    border: none;
}

.card__like-button:hover {
    opacity: .5;
}