.info__edit-button {
    grid-area: edit;
    align-self: center;
    width: 24px;
    height: 24px;
    background-color: black;
    background-image: url(../../../images/edit-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.info__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 320px) {
    .info__edit-button {
        width: 18px;
        height: 18px;
    }
}