.info {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
    "name edit"
    "about-me .";
    gap: 16px 18px;
    line-height: 0;
}

@media screen and (max-width: 320px) {
    .info {
        gap: 14px 10px;
        padding: 26px 0 36px;
    }
}