.popup__close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 0;
    background: none;
    height: 32px;
    width: 32px;
    transition: opacity 0.5s linear;
}

.popup__close-button::before {
    position: absolute;
    content: '';
    height: 32px;
    width: 32px;
    top: 0;
    left: 0;
    background-image: url(../../../images/Close\ Icon.svg);
    box-sizing: 100%;
    background-position: center;

}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close-button, .popup__close-button::before {
        width: 20px;
        height: 20px;
    }
}