.footer {
    width: 100%;
    max-width: 880px;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 596px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 282px;
        padding: 0 19px 0;
    }
}